# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Fabric
run/
logs/

# macOS
.DS_Store

# Windows
Thumbs.db

# Linux
*~
